inst/doc
.Rproj.user
report_initial-experiments_cache/
report_initial-experiments_files/
report_image-data_cache/
report_image-data_files/
vignettes/images/
*.html
*.Rhistory
*.Rproj
.Rproj.user/
.Rbuildignore
vignettes/*.log
data/StarLightCurves_TEST.txt
data/StarLightCurves_TRAIN.txt
*appendix_standalone.log
*appendix_standalone.pdf
*appendix_standalone.tex

